{% load static %}
<!DOCTYPE html>
<html lang="en">
    <script src="{% static 'script.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/firstproject/css/home.css">
</head>
<body>
    <div class="navbar ">
        <div class="icon">
            <img src="static/firstproject/css/logo.png" alt="ANVESHAN Logo" class="logo">
            <h2 class="logo-text">ANVESHAN</h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">UPDATES</a></li>
                <li><a href="#">LEADERBOARD</a></li>
                <li><a href="#">MEDIAHUB</a></li>
                <li><a href="#">TEAMS</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="profile.html">PROFILE</a></li>
                <li><a href="logout.html">LOGOUT</a></li>
            </ul>
        </div>
    </div>
    <div class="profile-top">
        <h1 class="title">Free your ideas</h1>
        <p class="subtitle">
            Don’t let a good idea stay just an idea.<br>
            Anveshan is the most intuitive way<br>
            to prototype and perfect them.
        </p>
    </div>
</body>
</html>
