<!DOCTYPE html>
<html lang="en">

<head>
<title>Home</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------- load CSS ------------->
    <link rel="stylesheet" type="text/css" href="static/firstproject/css/base.css">
    <link rel="stylesheet" type="text/css" href="static/firstproject/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="static/firstproject/css/footer.css">
    
<link rel="stylesheet" type="text/css" href="static/firstproject/css/newsfeed.css">
<link rel="stylesheet" type="text/css" href="static/firstproject/css/MetroJs.css">

    <link rel="stylesheet" href="static/firstproject/css/metro-all.min.css">
    <link rel="stylesheet" type="text/css" href="static/firstproject/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="static/firstproject/css/favicon.ico">
    <link rel="stylesheet" href="static/firstproject/css/fontawesome-free-5.15.3-web/css/all.css">
</head>

<body>
    <!---- Navigation Bar ---->
    <nav class="nav">
        <div class="container-navbar">
            <div class="logo">
                <img src="static/firstproject/css/bias4_nobg.png" alt="Bias4_logo">
                <a="/newsfeed/1/" style="align-items: center;color:white">ANVESHAN</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="/newsfeed/news_all/1/">Updates</a></li>
                    <li><a href="/events/1/">Events</a></li>
                    <li><a href="/boards/1/">Leaderboard</a></li>
                    <li><a href="/biasmediahub/1/">Media Hub</a></li>
                    <li><a href="/teams/1/">Teams</a></li>
                    <li><a href="/about/1/">About </a></li>
                    
                    <li><a href="/login/">Login</a></li>
                    
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    
<main class="layout-contents-container home">
    <section class="Styled-banner-section">
        <video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted">
            <source src="/static/firstproject/css/free-your-ideas.mp4" type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="banner">
            <div class="css-loo9wb">
                <div class="banner-content-box">
                    <h1 class="banner-content-heading">Free your ideas</h1>
                    <p class="banner-content-paragraph">Don’t let a good idea stay just an idea. Anveshan is the most
                        intuitive way to prototype and perfect them.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="tiles-section">
        <div class="tiles-grid tiles-group size-6" id="tilesgroup">
            
            <a href="http://anveshan.conti.de" id="anveshanname" data-size="wide" class="col-1 row-1 bg-transparent"
                data-role="tile">
                <div id="bias-branding" data-cls-token="char" data-role="tokenizer">
                    ANVESHAN
                </div>
            </a>
            
            <a href="https://web.microsoftstream.com/channel/3ee08aff-d55f-4d4c-9833-f3733eecb6b6" id="streams"
                class="col-1 row-3 bg-darkGray" data-size="medium" data-role="tile" target="_blank">
                <img src="/Anveshan/firstproject/static/firstproject/css/img/stream_logo.png" class="icon" style="max-width: 80px !important;">
                <span class="branding-bar">Streams</span>
            </a>
            
            <a href="/biasmediahub/1/" id="mediaplayer" class="col-3 row-3 bg-darkGray"
                data-size="medium" data-role="tile">
                <span class="icon mif-file-video"></span>
                <span class="branding-bar">Anveshan Media Hub</span>
            </a>
            
            <a href="/boards/1/" id="leaderboard" class="col-1 row-5" data-size="large"
                data-role="tile" style="background-color: rgba(0,0,0,0.8);border: 3px solid goldenrod;">
                <div class="slide-data d-flex flex-justify-center op-mauve">
                    <p class="text-center"
                        style="color: deepskyblue; font-size: 24px; font-family: one-day, sans-serif">SCORES</p>
                </div>
                <div class="slide-back d-flex flex-justify-center flex-align-center op-mauve">
                    <ul data-role="listview" data-view="content" style="width: -webkit-fill-available;">
                        <li data-caption="Hercules" data-content="Points: 3125"
                            style="color: goldenrod"></li>
                        <li data-caption="Pegasus" data-content="Points: 1800"
                            style="color: gray"></li>
                        <li data-caption="Vega" data-content="Points: 1455"
                            style="color: sandybrown"></li>
                        <li data-caption="Phoenix" data-content="Points: 1050"
                            style="color: brown"></li>
                    </ul>
                </div>
                <span class="branding-bar">Leaderboard</span>
            </a>
            
            <a href="https://confluence.auto.continental.cloud/pages/viewpage.action?spaceKey=VNIINDIA&title=Innovation+Council"
                id="confluence" class="col-5 row-1 bg-transparent" data-size="large" data-role="tile" target="_blank"
                style="background-size: contain;" data-cover="/static/base/img/ConNext.png">
            </a>
            
            <a href="/events/1/" class="col-5 row-5" data-size="large" data-role="tile"
                style="background-color: #565555;border: 3px solid goldenrod;" id="eventcenter">
                <div class="tile-title">
                    <p class="text-center"
                        style="color: rgb(229, 157, 157); font-size: 24px; font-family: one-day, sans-serif">EVENTS</p>
                    
                    <div class="news-instance">
                        <div class="news-box">
                            <div class="news-box-head">
                                <p class="news-head">ANVESHAN Tech Talk</p>
                                <p class="news-date">Dec. 12, 2023, noon</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="news-instance">
                        <div class="news-box">
                            <div class="news-box-head">
                                <p class="news-head">ANVESHAN Tech Talk</p>
                                <p class="news-date">Dec. 12, 2023, noon</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="news-instance">
                        <div class="news-box">
                            <div class="news-box-head">
                                <p class="news-head">ANVESHAN Tech Talk</p>
                                <p class="news-date">Dec. 5, 2023, 6 p.m.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="news-instance">
                        <div class="news-box">
                            <div class="news-box-head">
                                <p class="news-head">ANVESHAN Tech talk</p>
                                <p class="news-date">Nov. 22, 2023, noon</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="news-instance">
                        <div class="news-box">
                            <div class="news-box-head">
                                <p class="news-head">ANVESHAN Tech Talk</p>
                                <p class="news-date">Nov. 15, 2023, 6 p.m.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </a>
            
            <a href="/teams/1/pegasus/" id="teampg" class="col-9 row-1 bg-teampg" data-size="medium"
                data-role="tile">
                <img src="static/firstproject/css/pegasus.ico" class="icon" style="width: 150px" alt="Pegasus">
                <span class="branding-bar" style="color: white;">Pegasus</span>
            </a>
            
            <a href="/teams/1/phoenix/" id="teamph" class="col-11 row-1 bg-teamph" data-size="medium"
                data-role="tile">
                <img src="static/firstproject/css/phoenix.ico" class="icon" style="width: 150px" alt="Phoenix">
                <span class="branding-bar" style="color: black;">Phoenix</span>
            </a>
            
            <a href="/teams/1/hercules/" id="teamhr" class="col-9 row-3 bg-teamhr" data-size="medium"
                data-role="tile">
                <img src="static/firstproject/css/hercules.ico" class="icon" style="width: 150px" alt="Hercules">
                <span class="branding-bar" style="color: white;">Hercules</span>
            </a>
            
            <a href="/teams/1/vega/" id="teamvg" class="col-11 row-3 bg-teamvg" data-size="medium"
                data-role="tile">
                <img src="static/firstproject/css/vega.ico" class="icon" style="width: 150px" alt="Vega">
                <span class="branding-bar" style="color: black;">Vega</span>
            </a>
            
            <div id="newsfeed" class="col-9 row-5" data-size="large" data-role="tile"
                onclick="location.href='/newsfeed/news_all/1/'">
                <p class="tile-title" id="updates-title">Updates Center</p>
                
                
                <div class="news-instance">
                    <div class="news-box">
                        <div class="news-box-head">
                            <p class="news-head">Contivation Campaign</p>
                            <p class="news-date">Nov. 30, 2023</p>
                        </div>
                        <p class="news-content">How can Telematics Tech influence the Future of Vehicles</p>
                    </div>
                </div>
                
                
                
                <div class="news-instance">
                    <div class="news-box">
                        <div class="news-box-head">
                            <p class="news-head">Contivation Campaign</p>
                            <p class="news-date">Nov. 30, 2023</p>
                        </div>
                        <p class="news-content">Let&#x27;s ideate towards Vehicle Access Solutions</p>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
</main>
<div class="clearfix"></div>


    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text" onclick="location.href='mailto:AU_OZ_SM_ANVESHAN@continental.com'"
                                style="cursor: pointer;">
                                <h4>Reach us</h4>
                                <span>Innovation Council, AN</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-plane-arrival"></i>
                            <div class="cta-text">
                                <h4>Visits</h4>
                                

<span>1012</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="#"><img src="static/firstproject/css/Continental_logo.png" class="img-fluid"
                                        alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>AN Innovation Council presents ANVESHAN to accelerate innovation through gamification
                                    approach to the entire Business Area Architecture and Networking, Bengaluru.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us on </span>
                                <a
                                    href="http://connext.conti.de/communities/service/html/communityoverview?communityUuid=554d3c79-6271-44aa-a11d-03a7524ccfc6"><i
                                        class="fab fa-bandcamp fa-2x"></i></a>
                                <a href="https://web.microsoftstream.com/channel/3ee08aff-d55f-4d4c-9833-f3733eecb6b6"><i
                                        class="fas fa-play fa-2x" style="color: #8c004a"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="/newsfeed/1/">Home</a></li>
                                <li><a href="/about/1/">about</a></li>
                                <li><a href="/events/1/">Events</a></li>
                                <li><a href="/boards/1/">Leaderboard</a></li>
                                <li><a href="/biasmediahub/1/">Media Hub</a></li>
                                <li><a href="/newsfeed/news_all/1/">Updates Center</a></li>
                                <li><a href="/accounts/login/?next=/newsfeed/1/">Login</a>
                                <li><a
                                        href="https://confluence.auto.continental.cloud/pages/viewpage.action?spaceKey=VNIINDIA&title=ANVESHAN">Confluence
                                        page</a>
                                </li>
                                <li><a href="/contactus/1/">Support</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Feedbacks</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Get in touch with us or please provide your valuable feedbacks and thoughts</p>
                            </div>
                            
                            <div class="footer-text mb-25">
                                <p>Login First to Submit</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-lg-left">
                        <div class="copyright-text">
                            <p>Designed By Innovation Council - v2.0</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/newsfeed/1/">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="/contactus/1/">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!---------- Load SCRIPTS ------------>
    <script type="text/javascript" src="static/firstproject/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/firstproject/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/firstproject/js/base.js"></script>
    <script type="text/javascript" src="static/firstproject/js/MetroJs.js"></script>
    <script src="static/firstproject/js/metro.min.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
    
<script type="text/javascript" src="static/firstproject/js/newsfeed.js"></script>
<script type="text/javascript">
    $(".live-tile").not(".exclude").liveTile();
</script>

<script src="static/firstproject/js/jquery.postcsrf.js"></script>
<script type="text/javascript">
    $.postCSRF("/hitcount/hit/ajax/", { hitcountPK: "1" })
        .done(function (data) {
            $('<i />').text(data.hit_counted).attr('id', 'hit-counted-value').appendTo('#hit-counted');
            $('#hit-response').text(data.hit_message);
        }).fail(function (data) {
            console.log('POST failed');
            console.log(data);
        })
</script>

</body>